

.full-page {
	display: flex;
	margin: 0;
	align-items: center;
	justify-content: center;
}




.image-container{
	
	background-color: rgb(64,114,195);
	height: 630px;
	border: 1px solid black ;
	margin-left: 40px;
	margin-top: 35px;
}
.image-container img{
	height: 580px;
	width:350px;
	margin-left: 65px;
	margin-top: 25px;

}

.form-container{
	background-color: white;
	display: flex;
	justify-content: center;
}
.form-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

	
.form-box h3{
	border: 0.5px solid black;
	border-radius: 55px;
	background-color: rgb(64,114,195); 
	width: 450px;
	height: 65px;
	padding-top: 12px;
	margin-left: 10px;
	margin-bottom: 80px;
	color: white;
	font-weight: bold;

}
.form-box h4{
	font-weight: bold;
	color: grey;
}

.form-box .form-input{
	position: relative;
}

.form-box .form-input input{
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	border:none;
	border-radius: 1px;
	outline:none;
	background:rgb(245,237,237);
	padding-left: 45px;
}

.form-box .form-input span{
	position: absolute;
	top: 8px;
	padding-left: 20px;
	color: #777;

}

.form-box .form-input input::placeholder{
	padding-left: 0px;

}

.form-box .form-input input:focus
.form-box .form-input input:valid{
	border-bottom: 2px solid #48403d; 
}

.form-box input[type="checkbox"]:not(:checked) + label:before{
	background-color: transparent;
	border:2px solid black;
	width: 15px;
	height: 15px;
}

.form-box .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
	background-color: #48403d;
	border:0px;
}

.forget-link{
	color: rgb(128,128,128);
	font-weight: bold;
}

.forget-link:hover{
	color: #292525;
}

.form-box button[type="submit"]{
	border: 0.5px solid black;
	border-radius: 45px;
	cursor: pointer;
	background-color: rgb(64,114,195); 
	width: 150px;
	height: 42px;
	margin-left: 160px;
	margin-top: 60px;
	color: white;
	font-weight: bold;
	transition: 0.5s;

}
.form-box button[type="submit"]:hover{
	box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);

}
